
  <div *ngIf="companion">    
    <div class="post-container" [ngStyle]="{backgroundColor: getBGColor() }">
      <div class="post-thumb">
          <img 
          style="float: right" 
          [src]="companion.image" 
          [alt]="companion.name" 
          width="62" height="55"
          (click)="onCompanionSelected(companion.id)"
          >
          <input style="float: left" type="checkbox" name="selected" value="selected" [checked]="companion.isFrequentlySelected">
      </div>
      
      <div class="post-content" [ngClass]="{highlight: ind==1}">
        <span class="post-title">
          {{ind+1}}. name: {{ companion.name }}</span>
        <br/><span>rating: {{ companion.rating }}</span> {{ selectedCompanion }}
        <!-- <br/><span style="font-size:12px">click image to select / for details, click again to deselect</span> -->
      </div>
      
    </div>
  </div>
