<div ng-controller="AppController" nv-file-drop="" uploader="uploader">

  <div class="scrollDiv boxed">
    <span style="font-size: 20px;">Please specify your preferred companions:</span>
    <form>
      <br/> People residing in:
      <div *ngFor="let residingin of residingins">
        <span class="horIndent"></span>
        <label>
          <input type="radio" ngModel name="residingin"> {{residingin}}
        </label>
      </div>

      <hr/>
      <label>I prefer accompanying :</label>
      <br/>
      <span *ngFor="let gender of genders">
        <span class="horIndent"></span>
        <label>
          <input type="radio" ngModel name="gender" [value]="gender"> {{gender}}
        </label>
      </span>
      <span class="horIndent"></span>|
      <span *ngFor="let smoker of smokers">
        <span class="horIndent"></span>
        <label>
          <input type="radio" ngModel name="smoker" [value]="smoker"> {{smoker}}
        </label>
      </span>

      <hr/>
      <div>
        <select id="describe" [ngModel]="'include'" name="describe">
          <option value="include">Include </option>
          <option value="exclude">Exclude </option>
        </select>
        &nbsp;&nbsp;those who describe them as:
      </div>
      <div class="form-group">
        <div *ngFor="let describeme of describemes">
          <div class="wrap">
            <label>
              <input type="checkbox" ngModel name="aboutme" [value]="describeme"> {{describeme}}
            </label>
          </div>
        </div>
      </div>

      <hr/>
      <div>
        <select id="describe" [ngModel]="'include'" name="describe">
          <option value="include">Include </option>
          <option value="exclude">Exclude </option>
        </select>
        &nbsp;&nbsp;those interested in:
      </div>
      <div class="form-group">
        <div *ngFor="let interest of interests">
          <div class="wrap">
            <label>
              <input type="checkbox" ngModel name="interests" [value]="interest"> {{interest}}
            </label>
          </div>
        </div>
      </div>

      <hr/>
      <div>
        <select id="describe" [ngModel]="'include'" name="describe">
          <option value="include">Include </option>
          <option value="exclude">Exclude </option>
        </select>
        &nbsp;&nbsp;those who prefer:
      </div>

      <span *ngFor="let anymusic of anymusics">
        &nbsp;
        <label>
          <input type="radio" ngModel name="anymusic" [value]="anymusic"> {{anymusic}}
        </label>
        <span class="horIndent"></span>
      </span>

      <div class="form-group">
        <div *ngFor="let musicgenre of musicgenres">
          <div class="wrap">
            <label>
              <input type="checkbox" ngModel name="musicgenre" [value]="musicgenre"> {{musicgenre}}
            </label>
          </div>
        </div>
      </div>
      <hr/>
      <label>Include those who prefer a :</label>
      <br/>
      <span *ngFor="let talkLevel of talkLevels">
        <span class="horIndent"></span>
        <label>
          <input type="radio" ngModel name="talkLevel" [value]="talkLevel"> {{talkLevel}}
        </label>
      </span>
      <hr/>

      <select id="describe" [ngModel]="'include'" name="describe">
        <option value="include">Include </option>
        <option value="exclude">Exclude </option>
      </select>
      &nbsp;&nbsp;
      <label>&nbsp; people with ethnic origin from:
        <br/>
      </label>
      <div class="form-group">
        <div *ngFor="let origin of origins">
          <div class="wrap">
            <label>
              <input type="checkbox" ngModel name="origin" [value]="origin"> {{origin}}
            </label>
          </div>
        </div>
      </div>
      *) American Indian, Alaskan Native, Hawaiian Native or Other Pacific Islander
      <hr/>
      <label>Include those who have disabilities: </label>
      <span *ngFor="let yesNo of yesNos">
        <span class="horIndent"></span>
        <label>
          <input type="radio" ngModel name="disabilities" [value]="yesNo"> {{yesNo}}
        </label>
      </span>
      <hr/>
      <label>Include those who have criminal convictions: </label>
      <span *ngFor="let yesNo of yesNos">
        <span class="horIndent"></span>
        <label>
          <input type="radio" ngModel name="criminaldetail" [value]="yesNo"> {{yesNo}}
        </label>
      </span>
      <hr/>
      <label>Include those who travel with a pet ? </label>
      <span *ngFor="let yesNo of yesNos">
        <span class="horIndent"></span>
        <label>
          <input type="radio" ngModel name="petdetails" [value]="yesNo"> {{yesNo}}
        </label>
      </span>
      <hr/>
      <br/>
      <br/>
      <br/>
    </form>
  </div>
  <br/>
  <br/>
</div>