
<div class="margintop">
  itinerary works!
  <form [formGroup]="itineraryForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="centered">
      <span>From: &nbsp;</span>
      <input type="text" formControlName="departure">
      <span class="horIndent"></span>
      <span>To: &nbsp;</span>
      <input type="text" formControlName="destination">
      <span style="color:red;font-size:14px;" *ngIf="!itineraryForm.get('destination').valid && itineraryForm.get('destination').touched">please add a valid destination name</span>
      <br/><br/>
      
      <label>
        Date:&nbsp;
        <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" formControlName="tripDate">
        <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
    </label>
    <span class="horIndent"></span>
    <label>
        Time:&nbsp;
        <input [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" formControlName="tripTime">
        <owl-date-time [pickerType]="'timer'" #dt4 hour12Timer="true"></owl-date-time>
    </label>

      <br/>
      <button class="button button1" type="submit" [disabled]="!f.valid">Submit</button>
    </div>
  </form>
</div>