.post-container {
    width: 96%;
    border: green solid 2px;
    padding: 5px;
    margin: 5px;
    margin-left: 2%;
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 90px;
    text-align: left;
}
.post-title {
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}

.highlight {
    background-color: bisque;
}