<div ng-controller="AppController" nv-file-drop="" uploader="uploader">

<div class="scrollDiv boxed">
  <form>
        <image-upload></image-upload>    
    
    
      <div class="form-element">
          <label for="">Full name: </label><input type="text" autocomplete="off" name="" size="30">
      </div>
    
      <div class="form-element">
          <label for="">Your address: </label><input type="text" autocomplete="off" name="" size="30"> ( optional )
      </div>

    <div class="form-element">
        <label for="">Zip-Code: </label><input type="text" autocomplete="off" name="" size="30">
    </div>
    <div class="form-element">
        <label for="">State: </label><input type="text" autocomplete="off" name="" size="30">
    </div>
    <p style="font-size:12px">*) your address is never disclosed to others. Used only to plan your itinerary</p>
    <hr/>
    <div class="" style="  display: flex!important; ">
    <label for="">Please describe yourself: <br/>
      <div class="form-group">
        <div class="wrap"><label><input type="checkbox" name=""> extravert</label><span class="horIndent"></span></div>
        <div class="wrap"><label><input type="checkbox" name=""> intravert</label><span class="horIndent"></span></div>
        <div class="wrap"><label><input type="checkbox" name=""> joyful</label><span class="horIndent"></span></div>
        <div class="wrap"><label><input type="checkbox" name=""> silent</label><span class="horIndent"></span></div>
        <div class="wrap"><label><input type="checkbox" name=""> a discusser</label><span class="horIndent"></span></div>
        <div class="wrap"><label><input type="checkbox" name=""> a criticizer</label><span class="horIndent"></span></div>
        <div class="wrap"><label><input type="checkbox" name=""> calm</label><span class="horIndent"></span></div>
        <div class="wrap"><label><input type="checkbox" name=""> impulsive</label><span class="horIndent"></span></div>
        <div class="wrap"><label><input type="checkbox" name=""> clean / tidy</label><span class="horIndent"></span></div>
        <div class="wrap"><label><input type="checkbox" name=""> a little messy</label><span class="horIndent"></span></div>
        <div class="wrap"><label><input type="checkbox" name=""> shy / timid</label><span class="horIndent"></span></div>
        <div class="wrap"><label><input type="checkbox" name=""> modest</label><span class="horIndent"></span></div>
      </div>
      <label for="">add any other (optional): <input type="text" autocomplete="off" name="" size="30"></label>
      </label></div>
      <hr/>
      <label for="">Interests:</label>
      <br/>
      <div class="form-group">
          <div class="wrap"><label><input type="checkbox" name=""> sports</label></div>
          <div class="wrap"><label><input type="checkbox" name=""> politics</label></div>
          <div class="wrap"><label><input type="checkbox" name=""> ecomics/finance</label></div>
          <div class="wrap"><label><input type="checkbox" name=""> science</label></div>
          <div class="wrap"><label><input type="checkbox" name=""> music</label></div>
          <div class="wrap"><label><input type="checkbox" name=""> arts</label></div>
          <div class="wrap"><label><input type="checkbox" name=""> fiction books</label></div>
          <div class="wrap"><label><input type="checkbox" name=""> martial arts</label></div>
          <div class="wrap"><label for="">add any other (optional): <input type="text" autocomplete="off" name="" size="30"></label></div>
      <!-- </label> -->
    </div>
    
    <label for="">I like talking about these topics:</label>
    <div class="form-group">
        <div class="wrap"><label for=""><input type="radio" name=""> usually</label></div>
        <div class="wrap"><label for=""><input type="radio" name=""> when others are interested</label></div>
        <div class="wrap"><label for=""><input type="radio" name=""> never</label></div>
    </div>
    <hr/>
    <label for="">Music / song preferences:</label>
    <br/>
    <div class="form-group">
        <div class="wrap"><label for="">I prefer:</label></div>
        <div class="wrap"><label for=""><input type="radio" name=""> no music / songs</label></div>
        <div class="wrap"><label for=""><input type="radio" name=""> any music</label></div>
        <div class="wrap"><label for=""><input type="radio" name=""> any selected below</label></div>
    </div>
    <div class="form-group">
        <div class="wrap"><label><input type="checkbox" name=""> pop</label></div>
        <div class="wrap"><label><input type="checkbox" name=""> smooth jazz</label></div>
        <div class="wrap"><label><input type="checkbox" name=""> club</label></div>
        <div class="wrap"><label><input type="checkbox" name=""> soft rock</label></div>
        <div class="wrap"><label><input type="checkbox" name=""> religious talk</label></div>
        <div class="wrap"><label><input type="checkbox" name=""> other talk</label></div>
        <div class="wrap"><label><input type="checkbox" name=""> country</label></div>
        <div class="wrap"><label><input type="checkbox" name=""> hard rock</label></div>
        <div class="wrap"><label for="">add any other (optional): <input type="text" autocomplete="off" name="" size="30"></label></div>
    <!-- </label> -->
  </div>
  <hr/>
  <label for="">I prefer a :</label>
  <div class="form-group">
    <div class="wrap"><label for=""><input type="radio" name=""> minimal talk ride</label></div>
    <div class="wrap"><label for=""><input type="radio" name=""> moderate talk ride</label></div>
    <div class="wrap"><label for=""><input type="radio" name=""> does not matter</label></div>
  </div>
  <hr/>

  <label for="">Ethnic origin:<br/></label>
    <div class="form-group">
        <div class="wrap"><label for=""><input type="radio" name=""> Europe</label></div>
        <div class="wrap"><label for=""><input type="radio" name=""> Latin America</label></div>
        <div class="wrap"><label for=""><input type="radio" name=""> American - Minority *</label></div>
        <div class="wrap"><label for=""><input type="radio" name=""> Africa - North-most</label></div>
        <div class="wrap"><label for=""><input type="radio" name=""> Africa - Other</label></div>
        <div class="wrap"><label for=""><input type="radio" name=""> Asia - Middle East</label></div>
        <div class="wrap"><label for=""><input type="radio" name=""> Asia - Central</label></div>
        <div class="wrap"><label for=""><input type="radio" name=""> Asia - Pacific</label></div>
  </div>
*) American Indian, Alaskan Native, Hawaiian Native or Other Pacific Islander
  <hr/>
  <label for="">Do you have any disabilities: </label>
  <div class="form-group">
    <div class="wrap"><label for=""><input type="radio" name=""> No</label></div>
    <div class="wrap"><label for=""><input type="radio" name=""> Yes</label></div>
    <div class="wrap"><label for="">Details: <input type="text" name=""  size="30"></label></div>
  </div>
  <hr/>
  <label for="">Do you have any criminal convictions: </label>
  <div class="form-group">
    <div class="wrap"><label for=""><input type="radio" name=""> No</label></div>
    <div class="wrap"><label for=""><input type="radio" name=""> Yes</label></div>
    <div class="wrap"><label for="">Details: <input type="text" name=""  size="30"></label></div>
  </div>
  <hr/>
  <label for="">Would you tolerate a pet in a car? </label>
  <div class="form-group">
    <div class="wrap"><label for=""><input type="radio" name=""> Yes</label></div>
    <div class="wrap"><label for=""><input type="radio" name=""> No</label></div>
    <div class="wrap"><label for=""><input type="radio" name=""> Depends</label></div>
    <div class="wrap"><label for="">Comment: <input type="text" name=""  size="30"></label></div>
  </div>
  <hr/>

    <label for="">abc <input type="text" autocomplete="off" name="" size="30"></label><br/>
    <label for=""><input type="text" autocomplete="off" name="" size="30"></label><br/>
    <label for=""><input type="text" autocomplete="off" name="" size="30"></label><br/>
    <label for=""><input type="text" autocomplete="off" name="" size="30"></label><br/>
    <label for=""><input type="text" autocomplete="off" name="" size="30"></label><br/>
    <label for=""><input type="text" autocomplete="off" name="" size="30"></label><br/>
    <label for=""><input type="text" autocomplete="off" name="" size="30"></label><br/>

  </form>
</div>
</div>